// variables
@primary-color: #E9F1FD;
@primary-font: 'Plus Jakarta Sans', sans-serif;
@primary-text-color: #242526;
@primary-box-shadow: 8px 8px 16px #CFD8E5, -2px -2px 32px rgba(0, 0, 0, 0.25);
@secondary-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -8px 16px rgba(218, 230, 236, 0.5);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: @primary-text-color;
    font-family: @primary-font;
    * { box-sizing: border-box; }
    .screen {
        border: 1px solid @primary-color;
        background-color: @primary-color;
        height: 800px;
        width: 1200px;
        padding: 16px 22px;
        position: relative;
    }
}
.header {
    box-shadow: @primary-box-shadow;
    background: @primary-color;
    height: 60px;
    border-radius: 12px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: @primary-font;
    font-weight: 200;
    font-size: 24px;
    .header_left {
        display: flex;
        gap: 32px;
    }
}
.main {
    height: 685px;
    display: flex;
    gap: 18px;
    .left-main {
        box-shadow: @primary-box-shadow;
        background: @primary-color;
        height: 685px;
        width: 656px;
        border-radius: 12px;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            height: 90px;
        }
        .title {
            font-family: @primary-font;
            font-weight: 900;
            font-size: 24px;
        }
        .temp_ctrls, .car_ctrls, .conn_ctrls {
            .options {
                div:first-child {
                    border-radius: 12px 0 0 12px;
                }
                div:last-child {
                    border-radius: 0 12px 12px 0;
                }
                .option {
                    background: @primary-color;
                    box-shadow: @secondary-box-shadow;
                    height: 120px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img {
                        width: 70px;
                        height: 70px;
                    }
                    .metaphor_desc {
                        width: fit-content;
                        font-family: @primary-font;
                    }
                }
            }
            
        }
        .temp_ctrls {
            top: 0;
            .title { margin-top: 0 }
            .options {
                display: flex;
                gap: 18px;
                .temp1 {
                    display: flex;
                    .left_arr, .right_arr  { 
                        width: 50px; 
                        img { width: 35px; pointer-events: none; }
                    }
                    .temp_indicator {
                        width: 90px;
                        font-size: 48px;
                        font-weight: 400px;
                        font-family: @primary-font;
                     }
                }
                .temp2, .temp3 {
                    display: flex;
                    * {
                        width: 90px;
                    }
                }
            }
        }
        .car_ctrls, .conn_ctrls {
            .options {
                display: flex;
                .option {
                    height: 120px;
                    width: 117px;
                }
            }
        }
        .conn_ctrls .option {
            width: 146px !important;
        }
    }
    .right-main {
        box-shadow: @primary-box-shadow;
        background: @primary-color;
        height: 685px;
        width: 525px;
        border-radius: 12px;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .map_div {
            padding: 12px;
            border-bottom: 1px solid #C9D1DA;
            .map_img {
                width: 490px;
                height: 380px;
            }
        }
        .music_player {
            display: flex;
            width: 95%;
            padding: 16px;
            gap: 20px;
            .logo {
                width: 140px;
                height: 150px;
            }
            .music_ctrls {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                .volume_ctrls {
                    display: flex;
                    width: 100%;
                    justify-content: flex-end;
                    gap: 6px;
                    img {
                        width: 45px;
                        height: 45px;
                        border: 1px solid #000;
                        border-radius: 50%;
                        padding: 2px;
                    }
                }
                .music_bottom {
                    display: flex;
                    justify-content: space-between;
                    .artist p {
                        margin: 0;
                        font-family: @primary-font;
                        font-size: 20px;
                        &:first-child {
                            font-size: 28px;
                        }
                    }
                    .music_player_ctrls {
                        display: flex;
                        img {
                            width: 35px;
                            height: 35px;
                        }
                        & > div {
                            background-color: @primary-color;
                            box-shadow: @secondary-box-shadow;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 55px;
                            width: 70px;
                            &:first-child {
                                border-radius: 6px 0 0 6px;
                            }
                            &:last-child {
                                border-radius: 0 6px 6px 0;
                            }
                        }
                    }
                }
            }
        }
        .footer {
            position: absolute;
            bottom: 25px;
            width: inherit;
            display: flex;
            justify-content: space-evenly;
            img {
                width: 35px;
                height: 35px;
            }
        }
    }
}

// animation helper CSS
.temp_ctrls, .car_ctrls, .conn_ctrls {
    width: 100%;
    height: 0;
    position: relative;
    display: flex;
    align-items: center;
    .container {
        width: 100%;
        position: absolute;
        opacity: 0;
        left: 18px;
        transform: translateY(80px);
        transition: all 0.4s ease-out;
        &.show {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

// popup controls CSS
.temp_ctrls_opts, .car_ctrls_opts {
    background: @primary-color;
    box-shadow: @secondary-box-shadow;
    height: 0;
    width: 620px;
    border-radius: 12px;
    opacity: 0;
    transform: translateY(-60px);
    width: calc(100% - 32px);
    &.show {
        transition: all 0.4s ease-out;
        height: 418px;
        opacity: 1;
        transform: translateY(0);
        .heading {
            width: inherit;
            display: flex;
            align-items: center;
            gap: 24px;
            margin: 6px;
            .title {
                font-weight: 900;
                font-family: @primary-font;
                font-size: 24px;
            }
        }
        .close {
            background: @primary-color;
            box-shadow: @secondary-box-shadow;
            font-family: @primary-font;
            font-weight: 900;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            border-radius: 12px;
        }
    }
}
.fan_ctrls, .seat_heat_ctrls, .side_mirror_ctrls {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    display: none;
    &.show {
        display: block;
    }
}
.side_mirror_ctrls {
    position: relative;
    height: 100%;
    .mirror_selection {
        display: flex;
        justify-content: space-around;
        .left_mirror_sel img {
            transform: scaleX(-1);
        }
        .left_mirror_sel, .right_mirror_sel {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        img {
            width: 180px;
            height: 180px;   
        }
        span {
            font-weight: bold;
            font-size: 20px;
        }
    }
    .inst_div {
        position: absolute;
        bottom: 40px;
        text-align: center;
        font-weight: bold;
        width: 100%;
        font-size: 18px;
    }
}
.fan_ctrls {
    font-family: @primary-font;
    padding: 0 30px;
    .front_ctrls, .rear_ctrls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p { font-weight: bold ;}
        .slider { 
            background-image: linear-gradient(#001AFF, #001AFF) !important;
            width: 200px;
            background-size: 50% 100%;
        }
        .slider.disabled::-webkit-slider-thumb {
            background: #A3A9B1 !important;
        }
        .slider::-webkit-slider-thumb { background: #001AFF !important; }
        .slider_text { width: 210px; }
        .fan_direction {
            img {
                width: 35px;
                height: 35px;
            }
            .highlight {
                background-color: #001AFF;
                &.disable {
                    background-color: gray;
                }
            }
            & > div { 
                display: flex;
                > div {
                    background-color: @primary-color;
                    box-shadow: @secondary-box-shadow;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 55px;
                    width: 70px;
                    &:first-child {
                        border-radius: 6px 0 0 6px;
                    }
                    &:last-child {
                        border-radius: 0 6px 6px 0;
                    }
                }
            }
        }
    }
}
.seat_heat_ctrls {
    height: 100%;
    .seats {
        height: 100%;
        display: flex;
        flex-direction: column;
        .front, .rear {
            padding: 0 50px;
            display: flex;
            justify-content: space-between;
            flex: 1;
            & >div {
                display: flex;
                flex-direction: column;
                align-items: center;
                .seat.off {
                    filter: contrast(0);
                }
                .seat_text {
                    font-family: @primary-font;
                    color: #fff;
                    font-weight: bold;
                    margin-top: -95px;
                    z-index: 2;
                    pointer-events: none;
                }
            }
        }
    }
    .steering_wheel {
        width: 30px;
        height: 48px !important;
    }
}

// common code for all sliders
.slider {
    -webkit-appearance: none;
    margin-top: 13px;
    width: 140px;
    margin-right: 15px;
    height: 7px;
    background: #A3A9B1;
    background-image: linear-gradient(#FF3636, #FF3636);
    border-radius: 5px;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    &.disabled {
        background-color: #A3A9B1 !important;
        background-image: linear-gradient(#A3A9B1, #A3A9B1) !important;
    }
  }
  /* Input Thumb */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FF3636;
  }
  .slider.disabled::-webkit-slider-thumb {
    background: #A3A9B1 !important;
  }
.slider_text {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: @primary-font;
    .dot {
        width: 5px;
        height: 5px;
        background: #000;
        border-radius: 50%;
    }
}


// seat heating slider cross browser support

//   .slider::-moz-range-thumb {
//     -webkit-appearance: none;
//     height: 20px;
//     width: 20px;
//     border-radius: 50%;
//     background: #ff4500;
//     cursor: ew-resize;
//     box-shadow: 0 0 2px 0 #555;
//     transition: background .3s ease-in-out;
//   }
    
//   .slider::-ms-thumb {
//     -webkit-appearance: none;
//     height: 20px;
//     width: 20px;
//     border-radius: 50%;
//     background: #FF3636;
//     cursor: ew-resize;
//     box-shadow: 0 0 2px 0 #555;
//     transition: background .3s ease-in-out;
//   }
//   .slider::-moz-range-track, .slider::-ms-track, .slider::-webkit-slider-runnable-track {
//     -webkit-appearance: none;
//     box-shadow: none;
//     border: none;
//     background: transparent;
//   }
